html {
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Roboto ", "Arial", sans-serif;
  background-color: #2f343a;
  height: 100vh;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
